* {
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #f1f0f0;
  
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: white;
  font-family: Arial, sans-serif;
  margin-right: 75px;
  margin-left:  70px;

}

/* Left Menu */
.nav-left a{
  margin-right: 20px;
  text-decoration: none;
  color: black;
  margin: 5px;
  font-size: 14px;
}
.nav-left :hover{
  text-decoration:underline;
}
.nav-right :hover{
  text-decoration: underline;
}
/* Logo Center */
.logo {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 5px;
}

/* Right Menu */
.nav-right {
  display: flex;
  align-items: center;
}

.nav-right a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.nav-right span {
  margin-right: 15px;
  cursor: pointer;
}
.images{
  height: auto;
  width: 100px;
  /* margin-right: 85px;
  margin-right: 70px; */
  
}

.hero {
  width: 100%;
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center;     
  /* overflow: hidden; */
}

.hero img {
  width: 90.2%;
  height: 100%;
  object-fit: cover; 
}




.featured {
  padding: 20px;
  margin: 10px;
  margin-left: 70px;
  margin-right: 75px;
  background-color: white;
}

.featured h3 {
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

/* CARD */
.card {
  background: white;
  padding: 10px;
  text-align: center;
  position: relative;
}

/* IMAGE */
.card img {
  margin-left: 12px;
  margin-right: 12px;
  width: 80%;
  height: auto;
}

/* TITLE */
.card h4 {
  margin-top: 15px;
  font-size: 14px;
  letter-spacing: 1px;
}

/* BADGE (SOLD) */
.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  color: #999;
}

/* DISCOUNT */
.discount {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  color: #999;
}











.cont{
  padding: 20px;
  margin: 10px;
  margin-left: 70px;
  margin-right: 75px;
  background-color: white;
}

/* GRID */
.items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

/* CARD */
.card {
  background: #fff;
  padding: 10px;
  text-align: center;
  /* position: relative; */
}

/* IMAGE */
.card img {
  margin-left: 12px;
  margin-right: 12px;
  width: 80%;
  height: auto;
}




.testimonial {
  background: white;
  padding: 80px 40px;   /* space inside */
  margin: 40px;         /* space outside */
  margin-right: 75px;
  margin-left: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Content center */
.content {
  font-family: Arial, sans-serif;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

/* Heading */
.content h2 {
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 20px;  /* space below heading */
}

/* Paragraph */
.description {
  color: #777;
  line-height: 1.8;
  margin-bottom: 40px; /*space below text */ 
}

/* Name */
.name {
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

/* Role */
.role {
  color: #888;
  font-size: 14px;
}

/* Arrows */
.arrow {
  font-size: 28px;
  cursor: pointer;
  padding: 10px;  /* clickable area */
}